Django==6.0.2
django-jazzmin==3.0.5
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
django-filter==25.1
python-decouple==3.8
dj-database-url==2.3.0
gunicorn==25.2.0
whitenoise==6.8.2
psycopg2-binary==2.9.11
dnspython==2.7.0
resend==2.34.0
user-agents==2.2.0
tldextract==5.3.0
